@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/* color */
/* font-size */
/* fot-size TO DO Delete */
/* line-height */
/* margin padding */
/* box-shadow */
/* trasintion */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*リセット*/
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/*行の高さをフォントサイズと同じにしています*/
body {
  line-height: 1; }

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul, ol {
  list-style: none; }

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none; }

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/*テキストに打ち消し線が付くようにしています*/
del {
  text-decoration: line-through; }

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle; }

/* For modern browsers */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 only */
.cf {
  *zoom: 1; }

body {
  overflow-x: hidden;
  font-size: 14px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter; }

a {
  color: #a0cac0;
  text-decoration: none; }

/* ==========================================================================
   Layout
   ========================================================================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  font-size: 24px;
  color: #ffffff;
  background: #cacaca;
  -webkit-box-shadow: 2 4px 2px rgba(202, 202, 202, 0.15);
  box-shadow: 2 4px 2px rgba(202, 202, 202, 0.15); }

/* smartdevice */
@media screen and (max-width: 667px) {
  header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px; } }

.l-wrapper {
  width: 100%; }

.l-content {
  width: 950px;
  margin: 0 auto; }

/* smartdevice */
@media screen and (max-width: 667px) {
  .l-content {
    width: 100%; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  height: 30px;
  color: #888888;
  font-size: 12px; }

/* ==========================================================================
   Object
   ========================================================================== */
/* -----------------------------------------------------------------
   Component
   ----------------------------------------------------------------- */
/* -----------------------------------------------------------------
   Project
   ----------------------------------------------------------------- */
/* -----------------------------------------------------------------
   Utility
   ----------------------------------------------------------------- */
/* ==========================================================================
   Page
   ========================================================================== */
@-webkit-keyframes effect {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes effect {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.pozzy-l-content {
  position: relative;
  width: 650px;
  margin: 50px auto;
  padding: 100px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15);
  box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15); }

.pozzy-l-map-area {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 650px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff; }

.pozzy-c__pin, .pozzy-c__pin--large, .pozzy-c__pin--medium, .pozzy-c__pin--small {
  position: absolute;
  width: 64px;
  height: 64px; }
  .pozzy-c__pin.is-hide, .is-hide.pozzy-c__pin--large, .is-hide.pozzy-c__pin--medium, .is-hide.pozzy-c__pin--small {
    display: none; }

.pozzy-c__pin--large span:before {
  position: absolute;
  z-index: 4;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: -60px 0 0 -32px;
  background: url(../img/pozzy/c-map__pin--large.svg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: bottom center; }

.pozzy-c__pin--large span:after {
  position: absolute;
  z-index: 1;
  display: block;
  content: "";
  width: 96px;
  height: 96px;
  margin: -48px 0 0 -48px;
  background: rgba(160, 202, 192, 0.8);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: effect;
  animation-name: effect;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.pozzy-c__pin--medium span:before {
  position: absolute;
  z-index: 3;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: -60px 0 0 -32px;
  background: url(../img/pozzy/c-map__pin--medium.svg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: bottom center; }

.pozzy-c__pin--medium span:after {
  position: absolute;
  z-index: 1;
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background: rgba(160, 202, 192, 0.8);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: effect;
  animation-name: effect;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.pozzy-c__pin--small span:before {
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: -60px 0 0 -32px;
  background: url(../img/pozzy/c-map__pin--small.svg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: bottom center; }

.pozzy-c__map {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.pozzy-c-tool {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 5;
  width: 40px;
  height: 105px;
  margin-top: -52.5px;
  margin-right: -395px; }

.pozzy-c-tool-body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: inherit;
  height: inherit;
  padding: 5px;
  background: #cacaca;
  -webkit-box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15);
  box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15); }

.pozzy-c-function, .pozzy-c-function__all, .pozzy-c-function__target, .pozzy-c-function__other {
  width: 30px;
  height: 30px;
  -webkit-background-size: 25px 25px;
          background-size: 25px 25px;
  cursor: pointer; }

.pozzy-c-function__all {
  background: #ffffff url(../img/pozzy/c-map__pin--all.svg) no-repeat center center; }
  .pozzy-c-function__all.is-hide {
    background: #ffffff url(../img/pozzy/c-map__pin--all_hide.svg) no-repeat center center; }

.pozzy-c-function__target {
  background: #ffffff url(../img/pozzy/c-map__pin--large.svg) no-repeat center center; }
  .pozzy-c-function__target.is-hide {
    background: #ffffff url(../img/pozzy/c-map__pin--large_hide.svg) no-repeat center center; }

.pozzy-c-function__other {
  background: #ffffff url(../img/pozzy/c-map__pin--other.svg) no-repeat center center; }
  .pozzy-c-function__other.is-hide {
    background: #ffffff url(../img/pozzy/c-map__pin--other_hide.svg) no-repeat center center; }

.pozzy-c-location {
  position: fixed;
  bottom: 50px;
  right: 50%;
  margin-right: -140px;
  z-index: 100; }

.pozzy-c-carousel__arrow, .pozzy-c-carousel__prev, .pozzy-c-carousel__next {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background-color: transparent;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15);
  box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer; }
  .pozzy-c-carousel__arrow:hover, .pozzy-c-carousel__prev:hover, .pozzy-c-carousel__next:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }

.pozzy-c-carousel__prev {
  left: -15px;
  background: url(../img/pozzy/c-carousel_prev.svg) center center; }

.pozzy-c-carousel__next {
  right: -15px;
  background: url(../img/pozzy/c-carousel_next.svg) center center; }

.pozzy-c-carousel {
  overflow: hidden;
  width: 282px;
  height: 104px; }

.pozzy-c-carousel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.pozzy-c-carousel__slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  height: 100px;
  margin: 0 2px 4px 0;
  padding: 12.5px 25px;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  -webkit-box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15);
  box-shadow: 2px 4px 2px rgba(61, 75, 76, 0.15); }

.pozzy-c-carousel__slide__account {
  margin-bottom: 5px;
  font-size: 12px;
  color: #888888; }

.pozzy-c-carousel__slide__device {
  font-size: 16px;
  color: #888888; }

/* smartdevice */
@media screen and (max-width: 667px) {
  .pozzy-l-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .pozzy-l-map-area {
    width: 100%;
    height: auto; }
  .pozzy-c-location {
    bottom: 25px; }
  .pozzy-l-footer {
    position: fixed;
    bottom: 0; }
  .pozzy-c-tool {
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 5;
    width: 40px;
    height: 105px;
    margin-top: -52.5px;
    margin-right: -50%; } }
