.scroll_x-l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.scroll_x-l-wrapper {
  width: initial;
  margin-top: 50px;
}
.scroll_x-l-content {
  overflow-x: scroll;
  width: initial;
  height: 500px;
  border: 1px solid #888888;
}
.scroll_x-l-content__inner {
  width: 2000px;
  height: 1000px;
}
.scroll_x-c-axis {
  float: left;
  margin: 50px;
  width: 300px;
  height: 300px;
  background-color: #09c;
  color: #fff;
  font-size: 100px;
  &:focus {
    border: none;
    outline: none;
  }
}
